<div class="container">
  <div class="row">
    <form #loginForm="ngForm" (ngSubmit)="loginForm.valid && onSubmit()" novalidate class="form">
      <div class="form-group">
        <input type="text" class="form-control" name="username" [(ngModel)]="username" placeholder="username" required>
      </div>
      <div class="form-group">
        <input type="password" class="form-control" name="password" [(ngModel)]="password" placeholder="password" required>
      </div>
      <button class="btn btn-success" [disabled]="loginForm.invalid">Sign In</button>
    </form>
  </div>
</div>

<p>{{ loginForm.value | json}}</p>
<p>{{ loginForm.status | json}}</p>